.github/**
.vscode/**
.vscode-test/**
src/**
out/test/**
out/core/**
out/referenceLensProvider.js
coverage/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
